.text-center{
    text-align: center;
}

.card-produto{
    border: solid seagreen;
    width: 20%;
    margin: 5px;
    height: 20em;
    float: left;
    max-width: 280px;
    min-width: 280px;
}

.card-produto-header{
    height: 35%;
}

.card-produto-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-produto-content{
   margin: 5px; 
   
}

